body{
	overflow: hidden;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	margin: 0;
	background-color: #3aafa9;
}
#header{
	color:#feffff;
	/* margin: 0 20%s;
	width:50%; */
	text-align: center;
	display: inline-block;
}

#search{
	color:#17252a;

}

#dropdowns{
	color : #2b7a79;
}

#footer{
	color:#def2f1;
	size: 50%;
}

